Repository qoosuperman/taverneer-backend, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, migration, rubocop, env, gem, github-action

chore: add publish_state presence validation on recipe
  app/models/recipe.rb
  db/migrate/202211116120000_add_publish_state_and_published_at_to_recipes.rb
  db/migrate/202211116120000_add_publish_state_to_recipes.rb
  db/schema.rb
Labels: backend, migration

chore: add aasm gem
  Gemfile
  Gemfile.lock
Labels: gem

feat(model): add publish_state aasm on recipe
  app/models/recipe.rb
  spec/factories/recipes.rb
  spec/models/recipe_spec.rb
  spec/rails_helper.rb
Labels: backend

chore: add admin user factory
  app/models/user.rb
  spec/factories/users.rb
Labels: backend

feat(route): add recipe create / update / destroy route
  config/routes.rb
Labels: backend

feat(controller): add general error handeling on application controller
  app/controllers/application_controller.rb
Labels: backend

test: add AccessDeniedError shared example
  spec/support/shared_examples/shared_examples_for_error_responses.rb
Labels: backend

feat(controller): add Admin::RecipesController
  app/controllers/api/v1/admin/recipes_controller.rb
  spec/requests/api/v1/admin/recipes_controller_spec.rb
Labels: backend

feat: add error on recipe form if record invalid
  app/forms/recipe_form.rb
Labels: backend

feat(route): add admin glass create update delete api
  config/routes.rb
Labels: backend

refactor: extract admin base controller
  app/controllers/api/v1/admin/base_controller.rb
  app/controllers/api/v1/admin/recipes_controller.rb
Labels: backend

refactor: extract admin api shared example
  spec/requests/api/v1/admin/recipes_controller_spec.rb
  spec/support/shared_examples/shared_examples_for_admin_apis.rb
Labels: backend

feat: add admin glasses controller
  app/controllers/api/v1/admin/glasses_controller.rb
  spec/requests/api/v1/admin/glasses_controller_spec.rb
Labels: backend

build: update ruby version to 3.1.2 and bunlder version
  .ruby-version
  Gemfile
  Gemfile.lock
Labels: gem

fix: upgrade ruby version in CI
  .github/workflows/rspec.yml
  .github/workflows/rubocop.yml
Labels: none

fix: fix CI by upgrade rubocop version
  .rubocop_todo.yml
  Gemfile
  Gemfile.lock
Labels: rubocop, gem

build: default setting from fly.io terminal tool
  .dockerignore
  Dockerfile
  fly.toml
  lib/tasks/fly.rake
Labels: none

fix: deprecate --auto-correct option
  package.json
Labels: none

feat: add health check end point
  config/routes.rb
Labels: backend

fix: update deploy files to deploy to fly.io
  .dockerignore
  Dockerfile
  lib/tasks/fly.rake
Labels: none

chore(style): disable Rails/RakeEnvironment cop
  .rubocop.yml
  lib/tasks/fly.rake
Labels: rubocop

feat: add jbuilder gem
  Gemfile
  Gemfile.lock
Labels: gem

feat: add ingredients CRUD
  app/controllers/api/v1/admin/ingredients_controller.rb
  app/views/api/v1/admin/ingredients/index.json.jbuilder
  app/views/api/v1/admin/ingredients/show.json.jbuilder
  config/routes.rb
  spec/requests/api/v1/admin/ingredients_controller_spec.rb
Labels: backend

chore: fix style
  Gemfile
  app/views/api/v1/admin/ingredients/index.json.jbuilder
  app/views/api/v1/admin/ingredients/show.json.jbuilder
Labels: gem

refactor: add sign_in helper
  spec/requests/api/v1/current_user_controller_spec.rb
  spec/support/request_helper.rb
Labels: backend

feat: adjust current_user api to add is_admin property
  app/controllers/api/v1/current_user_controller.rb
  spec/requests/api/v1/current_user_controller_spec.rb
Labels: backend

chore: add dev rake
  lib/tasks/dev.rake
Labels: none

chore: update README for setup
  README.md
Labels: none

feat: active storage basic setups
  .env.example
  .rubocop.yml
  Gemfile
  Gemfile.lock
  config/environments/production.rb
  config/storage.yml
  db/migrate/20230829133556_create_active_storage_tables.active_storage.rb
  db/schema.rb
Labels: backend, migration, rubocop, env, gem

config: add APPLICATION_HOST ENV for default_url_options setting
  .env.example
  .env.test
  config/application.rb
  config/puma.rb
Labels: backend, env

gem: update debug to 1.8.0
  Gemfile.lock
Labels: gem

gem: add aws-sdk-s3 gem
  Gemfile
  Gemfile.lock
Labels: gem

config(route): add direct upload routing
  config/routes.rb
Labels: backend

feat: add direct upload controller
  app/controllers/api/v1/admin/direct_upload_controller.rb
  app/controllers/application_controller.rb
  app/views/api/v1/admin/direct_upload/create.json.jbuilder
  config/environments/development.rb
  spec/fixtures/aaa.jpeg
  spec/requests/api/v1/admin/direct_upload_controller_spec.rb
Labels: backend

feat: recipe add has_one cover_image
  app/models/recipe.rb
Labels: backend

.github/labeler.yml:

# ref: https://github.com/actions/labeler

backend:
  - 'app/**/*.rb'
  - 'lib/**/*.rb'
  - 'spec/**/*'
  - 'config/**/*'

migration:
  - 'db/schema.rb'
  - 'db/migrate/*'

rubocop:
  - '.rubocop.yml'
  - '.rubocop_todo.yml'

env:
  - '.env.example'

gem:
  - 'Gemfile'
  - 'Gemfile.lock'

# operations
github-action:
  - '.github/*'
