Repository qoosuperman/taverneer-backend, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, migration, rubocop, env, gem, github-action

Merge pull request #3 from qoosuperman/feat/configure-rspec-ci
  .github/workflows/rspec.yml
  .github/workflows/rubocop.yml
  config/database.yml
Labels: backend

build(gem): add warden gem
  Gemfile
  Gemfile.lock
Labels: gem

config(routes): add sign_in and sign_out routes
  config/routes.rb
Labels: backend

config(session): configure cookie / session settings
  config/application.rb
  config/initializers/session_store.rb
Labels: backend

config(warden): configure warden settings
  config/application.rb
  config/initializers/warden.rb
  lib/authentication/password_strategy.rb
Labels: backend

feat(sign in): add sessions controller#create
  app/controllers/api/v1/sessions_controller.rb
  app/controllers/application_controller.rb
  app/controllers/concerns/.keep
  app/controllers/concerns/authentication/helper_methods.rb
  app/helpers/response_helper.rb
Labels: backend

test: add sessions controller #create spec
  spec/rails_helper.rb
  spec/requests/api/v1/sessions_controller_spec.rb
  spec/spec_helper.rb
  spec/support/request_helper.rb
Labels: backend

feat(sign out): implement sessions#destroy
  app/controllers/api/v1/sessions_controller.rb
  spec/requests/api/v1/sessions_controller_spec.rb
Labels: backend

fix: align response massage with capitalize and status with string
  app/controllers/api/v1/sessions_controller.rb
  config/application.rb
  spec/requests/api/v1/sessions_controller_spec.rb
Labels: backend

style: fix
  .rubocop.yml
  config/initializers/warden.rb
  spec/rails_helper.rb
  spec/support/request_helper.rb
Labels: backend, rubocop

fix: login error
  config/initializers/cors.rb
  config/initializers/session_store.rb
  config/initializers/warden.rb
  lib/authentication/password_strategy.rb
Labels: backend

fix: user warden.user without scope
  app/controllers/api/v1/sessions_controller.rb
Labels: backend

chore: use ActionDispatch::Request instead of Rack::Request in warden
  config/initializers/warden.rb
  lib/authentication/password_strategy.rb
Labels: backend

test: modify spec, now store user id in session
  spec/requests/api/v1/sessions_controller_spec.rb
Labels: backend

style: fix style
  config/initializers/warden.rb
Labels: backend

feat(route): add current_user#index route
  config/routes.rb
Labels: backend

feat: implment current_user controller
  .rubocop.yml
  app/controllers/api/v1/current_user_controller.rb
  spec/requests/api/v1/current_user_controller_spec.rb
Labels: backend, rubocop

chore(gem): add ancestry gem
  Gemfile
  Gemfile.lock
Labels: gem

fix: signout error
  app/controllers/api/v1/sessions_controller.rb
  spec/requests/api/v1/sessions_controller_spec.rb
Labels: backend

feat(migration): basic db schema setup
  .rubocop.yml
  db/migrate/20221002120000_create_basic_tables.rb
  db/schema.rb
Labels: migration, rubocop

feat(model): add recipe ingredient validation on amount
  app/models/recipe_ingredient.rb
  config/locales/zh-TW/models.yml
  spec/factories/glasses.rb
  spec/factories/ingredients.rb
  spec/factories/recipe_ingredients.rb
  spec/factories/recipes.rb
  spec/models/recipe_ingredient_spec.rb
Labels: backend

feat(model): basic models setup
  app/models/concerns/.keep
  app/models/glass.rb
  app/models/ingredient.rb
  app/models/recipe.rb
  app/models/recipe_ingredient.rb
  app/models/step.rb
Labels: backend

feat(model): add cocktail model and spec
  app/models/cocktail.rb
  spec/factories/cocktails.rb
  spec/models/cocktail_spec.rb
  spec/spec_helper.rb
Labels: backend

chore: init husky
  .gitignore
  .husky/pre-commit
  package-lock.json
  package.json
Labels: none

chore: install lint-stages
  package-lock.json
  package.json
Labels: none

chore: configure lint-stage + husky
  .husky/pre-commit
  package.json
Labels: none

feat(model): implement unique validations on model layer
  app/models/recipe_ingredient.rb
  app/models/step.rb
Labels: backend

chore: fix commet
  app/models/step.rb
Labels: backend

feat(routes): add create recipe route
  config/routes.rb
Labels: backend

gem: add rails-patterns gem
  Gemfile
  Gemfile.lock
  app/forms/application_form.rb
Labels: backend, gem

gem: add acts_as_list gem
  Gemfile
  Gemfile.lock
Labels: gem

feat(model): add acts as list on step modle
  app/models/step.rb
  spec/factories/steps.rb
Labels: backend

gem: add bullet gem
  .rubocop.yml
  Gemfile
  Gemfile.lock
  config/environments/development.rb
  config/environments/test.rb
Labels: backend, rubocop, gem

feat: add RecipeForm
  .rubocop.yml
  app/forms/recipe_form.rb
  app/models/recipe_ingredient.rb
  spec/forms/recipe_form_spec.rb
Labels: backend, rubocop

feat: add recipe form validation and error message
  .rubocop.yml
  app/forms/recipe_form.rb
  app/models/recipe_ingredient.rb
  config/locales/zh-TW/models.yml
  spec/forms/recipe_form_spec.rb
Labels: backend, rubocop

chore(ci): rubocop only fail for fail level
  .github/workflows/rubocop.yml
Labels: none

style: fix
  .rubocop.yml
  spec/models/cocktail_spec.rb
Labels: backend, rubocop

chore: add pr template
  .github/pull_request_template.md
Labels: github-action

chore: add activerecord-postgres_enum for pg enum usage
  Gemfile
  Gemfile.lock
Labels: gem

chore: add publish_state column on recipes
  db/migrate/202211116110000_create_publish_state_enum.rb
  db/migrate/202211116120000_add_publish_state_to_recipes.rb
  db/schema.rb
Labels: migration

.github/labeler.yml:

# ref: https://github.com/actions/labeler

backend:
  - 'app/**/*.rb'
  - 'lib/**/*.rb'
  - 'spec/**/*'
  - 'config/**/*'

migration:
  - 'db/schema.rb'
  - 'db/migrate/*'

rubocop:
  - '.rubocop.yml'
  - '.rubocop_todo.yml'

env:
  - '.env.example'

gem:
  - 'Gemfile'
  - 'Gemfile.lock'

# operations
github-action:
  - '.github/*'
